<div class="holder">
    <div class="bloque">
        <h2>Iniciar sesi칩n</h2>
        <form action="/admin/login" method="post">
        <div class="login">

            <label for="inputUser">Usuario:</label>
            <input type="text" name="usuario" id="inputUser" placeholder="Usuario">

            <label for="inputPassword">Contrase침a:</label>
            <input type="password" name="password" id="inputPassword" placeholder="Contrase침a">

            <button type="submit" class="ingresar">Ingresar</button>
            {{#if error}}
                <p class="error">Usuario y/o contrase침a incorrectos</p>
            {{/if}}
        </div>
        </form>
    </div>
</div>