<div class="holder">
    <div class="novedades">
        <h2>Administrador</h2>
        <hr>
        <h3>Bienvenida {{persona}}</h3><br>
        <a href="/admin/login/logout" class="btn-logout">Cerrar Sesión</a>
    </div>
</div>