* {/*selector universal, reset de estilos*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;/*1 rem*/
    line-height: 20px;
}

h2{
    color: #2e64a1;
    font-weight: 400;
    margin: 10px 0px;
}
.holder{
    max-width: 960px;
    margin: 0 auto;
}

header{
    background-color: #2e64a1;
    padding: 16px 0;/*1rem 0*/
}
header img{
    margin-left: 10px;
    width: 100px;
}
header h1{
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}

.bloque{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* separador */
.separador{
    height: 30px;
    background-color: #6da9ed;
}
/* fin separador */

/* login */
.login{
    width: 300px;
    padding: 20px 15px ;
    border: solid 1px #ccc;
    border-radius: 10px;
}
.login label{
    display: inline-block;
    margin-bottom: 3px;
}
.login input{
    display: block;
    margin-bottom: 10px;
}
.error{
    font-size: 0.9rem;
    color: rgb(224, 44, 44);
    margin-bottom: 5px;
}
.ingresar{
    color: white;
    background-color: #6da9ed;
    padding: 6px 20px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}
.ingresar:hover{
    background-color: #2e64a1;
}
/* fin login */

/*Novedades*/
.novedades{
    padding: 20px;
}
.novedades h3{
    font-weight: 300;
    margin: 5px 0;
}
.novedades h4{
    font-weight: normal;
}
.novedades p{
    margin: 10px 0px;
}
.btn-logout{
    color: white;
    background-color: #f3814c;
    padding: 6px 20px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    transition: all 0.3s ease;
}
.btn-logout:hover{
    background-color: #ca693c;
}
.novedades table{
    background-color: antiquewhite;
    border: 1px solid #ca693c;
    width: 100%;
}
.novedades table tr{
    border: 1px solid #ca693c;
    display: flex;
}
.novedades table td{
    border: 1px solid #ca693c;
}
/*fin novedades*/

footer{
    background-color: #ccc;
    clear:both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}